
<div *ngIf="cartProducts.length ===0" class="alert alert-info">Your Cart is Empty.</div>

<ul *ngIf="cartProducts.length >0" class="list-group">
  <div class="row">
    <li class="list-group-item" *ngFor="let item of cartProducts">
      <app-show-cart-item [showcartItem] ="item" (outputToParent)="cartAction($event)" ></app-show-cart-item>
    </li>
  </div>
  <div class="row">
    <div class="col-6">
      <li class="list-group-item active total order" >
        <button mat-button  (click)="placeOrder(cartProducts)">PlaceOrder</button>
      </li>
    </div>
    <div class="col">
      <li class="list-group-item active total" >
        <strong>Total </strong>{{cartTotal |currency}}

      </li>
    </div>
  </div>
</ul>
